#root {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
}

.card {
  background-color: black;
  border-radius: 1rem;
  height:300px;
  width: 700px;
  padding: 2rem 4rem;
}

.quote {
  color: #f0f0f0; 
  padding: 0;
  margin: 0;
 font-style: italic;
 font-size: 1.5rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  position: absolute;
  top: 70px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2.5rem;
}
button {
  margin-bottom: 40px;
  background-color: white;
  color: black;
  border: none;
  font-size: 1rem;
  margin-top: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(80, 130, 200, 0.8) 0px 18px 36px -18px inset;
}
.category-container {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}
.category {
 color: white;
 text-decoration: none;
 text-indent: 0;
 list-style-type: none;
 padding: 3px;
}
.wrapper {
 background-color: rgba(255, 0, 0, 0.588);
 border-radius: 4px;
 padding: 3px;
}

